html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
  box-sizing: border-box;
}


body {
  background-color: #ffffff;
  font-family: 'playfair display', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  color: #4a4a4a;
}


header {
  background-color: #AEB8B8;
  padding: 10px;
  margin: 10px;
}

main {
  padding-top: .5px;
}

header{
  border-bottom: 2px solid #4a4a4a;
}
header{
  border-top:2px solid #4a4a4a;
}
header{
  border-left: 2px solid #4a4a4a;
}
header{
  border-right: 2px solid #4a4a4a;
}

img {
width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.6;
}

h1, h2, h3, h4 {
  margin: auto;
}

h1 {
  font-size: 2.00em;
  font-weight: 700;

}

h2 {
  font-size: 1.80em;
  font-weight: 700;
  }

h3 {
  font-size: 1.25em;
  font-weight: 700;
  }
h4 {
  font-size: 1.25em;
  font-weight: 700;
}

a  {
  color: #ff7f50;
  text-decoration: none;
}
a:hover {
  color: #cc6540;
  text-decoration: underline;
}

a:visited {
  color: #ff7f50;

}
a:active {
  color: #994c30;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}


}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
.button {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  font-weight: 400;
  padding: 5px;
  border-radius: 1px;
  border-bottom: 1px solid #994c30;
  transition-duration: 0.2s;

}

.button:hover{
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.button.Contact {
  background-color: transparent;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #ff7f50;

}

.button.contact:hover {
  background-color: #000000;
  color: #ffffff;
}
.button.contact:active {
  opacity: 0.8;
  text-decoration: none;
}

/* Layout styling */

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: left;
}
#hero span {
  display: block;
}


.row {
  margin: 1px 0;
}

#work {
  padding-top: 2px;
}

#work .row {
  padding-bottom: 2px;
  border-bottom: 2px solid #4a4a4a;
}


.container {
  padding: 0 15px;
}
.container {
  max-width: 1200px;
}


.logo {
  max-width: 250px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  display: inline-block;
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  text-decoration: none;
}

nav > ul > li > a:visited {
  display: inline-block;
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  text-decoration: none;
}
nav > ul > li > a:hover {
  display: inline-block;
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
}

nav > ul > li > a:focus {
  display: inline-block;
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
}
nav > ul > li > a:active {
  display: inline-block;
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
  color: #CC6540;
}

#about {
  padding-top: 10px;
}

#E-Learn proj{
  padding-top: 15px;
}

footer{
  background-color: #FCFCFC;
  text-align: center;
  color: #00000;
  bottom: 0px;
}

}
